 <!-- form handling -->
 <form action="/api/users" method="POST" id="add_user">
    <div class="new_user">
        <div class="form-group">
            <label for="Yourname" class="text-light">Your Name</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="Yourname" value="" placeholder="Ferris Bueller">
        </div>
          <div class="form-group">
            <label for="HrName" class="text-light">Hr name</label>
            <input type="text" name="Hrname" value="" placeholder="Mclovin">
        </div>
       
        <div class="form-group">
            <label for="URL" class="text-light">URL</label>
            <input type="text" name="URL" value="" placeholder="https://www.linkedin.com/in/nag-srikesh-8327661b4/">
        </div>
        <div class="form-group">

        <label for="OrganisationName" class="text-light">Organisation Name</label>
            <!-- <input type="hidden" name="id" value=""> -->
            <input type="text" name="OrganisationName" value="" placeholder="Microsoft">
        </div>
      

        <div class="form-group">
            <label for="ConfirmationStatus" class="text-light">Confirmation Status</label>
            <div class="radio inline">
                <input type="radio" id="radio-4" name="ConfirmationStatus" value="Yes" >
                <label for="radio-4" class="radio-label">Yes</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio-5" name="ConfirmationStatus" value="No" >
                <label for="radio-5" class="radio-label">No</label>
            </div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn text-dark update">Save</button>
        </div>

    </div>
</form>